* {
    box-sizing: border-box;
    margin: 0;

}

.body {
    scroll-behavior: smooth;
    background: #E5E5E5;
}
.container-wrapper{
    width: 1445px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background: #FFFFFF;
}
.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 945px;
}

.menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 88px;
    width: 945px;
    align-items: center;
    position: relative;
}
.menu::after{
    background: #828282;
    content: " ";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    top: calc(100% - 1px);
}

.menu__item {
    font-family: Gilroy-Bold, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    text-decoration: none;
}
.menu__item:hover{
    color: rgba(206,116,40,0.5);
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}
.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 768px;
    border: 1px solid red;
    background: #FFFFFF;
}
.profile-info__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-info__name {
    width: 123px;
    height: 118px;
    font-family: Gilroy-Bold, serif;
    font-size: 47px;
    line-height: 59px;
    color: #070707;
}

.profile-info__common-info {
    font-family: Gilroy-Medium, serif ;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    width: 155px;
    height: 44px;
}
.profile-info__language-menu{
    rotate: 270deg;
}
.profile-info__avatar {
    width: 945px;
    height: 387px;
}

.about-me {
    background: #F6F6F6;
    height: 506px;
}

.about-me__body {
    border:1px solid  black;
    padding: 120px 0 107px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.about-me__title {
    margin-bottom: 18px;
}

.title {
    font-family: 'Gilroy-Bold', serif;
    font-size: 34px;
    line-height: 42px;
}

.about-me__text {
    width: 485px;
    height: 218px;
    left: 480px;
    top: 949px;
    font-family: 'Gilroy-Medium', serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.skills {
    height: 610px;
    border:1px solid black;
}

.skills__title {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}
.skills__row {
    overflow: hidden;
    width: 945px;
}

.skills__slider {
    border: 1px solid blue;
    position: relative;
    width: 945px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease;
    left: 0;
}


.slider__items{
    border: 1px solid rebeccapurple;
    display: flex;
    height: 200px;
    position: relative;
    left: 0;
    width: calc(120px *5);
    flex-wrap: wrap;
    gap: 7rem;
    flex-direction: column;
}


.slider__item {
    box-sizing: border-box;
    border: 1px solid black;
    width: 120px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.slider__buttons{
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: absolute;
    width: inherit;
    top:35%;
    z-index: 10;
}
.slider__buttons i{
    background-color: rgba(255, 255, 255, .25);
    color: #1C1D21;
    cursor: pointer;
    height: 60px;
    padding: 15px;
    transition: background-color .5s, color .5s;

}

.slider__buttons i:first-of-type{
    padding-right: 20px;
}

.slider__buttons i:last-of-type{
    padding-left: 20px;
}

.slider__buttons i:hover{
    background-color: rgba(28,29,33, .75);
    color: #EEEFF7;
}

.slider__skill-icon {
    width: 90px;
    height: 90px;
}

.slider__skill-title {
    font-family: Gilroy-Bold, sans-serif;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    color: #828282;
    padding-top: 24px;
}

.slider__skill-image {
    width: 120px;
    height: 120px;
}

@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Bold'),
    url('/assets/css/fonts/Gilroy-Bold.woff') format('woff');
    url('/assets/css/fonts/Gilroy-Bold.woff2') format('woff2');
    url('/assets/css/fonts/Gilroy-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Medium'),
    url('/assets/css/fonts/Gilroy-Medium.woff') format('woff');
    url('/assets/css/fonts/Gilroy-Medium.woff2') format('woff2');
    url('/assets/css/fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Regular'),
    url('/assets/css/fonts/Gilroy-Regular.woff') format('woff');
    url('/assets/css/fonts/Gilroy-Regular.woff2') format('woff2');
    url('/assets/css/fonts/Gilroy-Regular.ttf') format('truetype');
}